.header {
  padding: 8vh 12vw 1vh 12vw;
}
.header a {
  font-size: 25px;
}
.mainvisual {
  margin: 0 12vw;
}
.mainvisual img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.index {
  margin: 6vh 20vw;
  background-color: #f0f0f0;
  height: 50vh;
  padding: 4vh 6vw;
}
.index h2 {
  text-align: center;
}
.index_contents {
  text-align: center;
  margin-top: 5vh;
  padding: 2vh 0;
  border: solid 1px black;
  line-height: 50px;
  font-size: 15px;
}
.grid {
  height: 280px;
  margin: 6vh 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
}
.grid img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.detail {
  background-color: #f0f0f0;
  margin: 45vh 20vw;
}
.detail h2 {
  text-align: center;
}
.detail {
  padding: 4vh 6vw;
  margin-bottom: 30px;
}
.detail_contents {
  display: flex;
}
.detail_contents_1 {
  padding-right: 40px;
  border-right: solid 1px black;
}
.detail_contents_1 p {
  font-size: 13px;
}
.detail_contents_2 {
  padding-left: 40px;
}
.detail_contents_2 p {
  font-size: 15px;
}
.detail_contents_2 a {
  color: black;
  font-size: 15px;
}
.detail_contents_2 a:hover {
  color: #403f3e;
}
.footer {
  text-align: center;
  padding: 3px 0;
}
.footer p {
  font-size: 13px;
}
